@model List<AUTOCAD.Models.Kurs>

<!DOCTYPE html>
<html>
<head>
    <title>Lista Kursów</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AUTOCAD.styles.css" asp-append-version="true" />

    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            background: linear-gradient(120deg, rgba(255, 255, 255, 0.7) 70%, #dcdcdc 70%), url('/Photos/tło.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .text-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
            opacity: 0.9;
        }

        .text-content {
            color: #333;
            text-shadow: 2px 2px 5px white;
        }

        thead {
            background-color: #c6c7c8;
        }

        tbody tr:hover {
            background-color: #c6c7c8;
        }

        table {
            border-collapse: collapse;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
        }

        td, th {
            border: none;
        }

        .course-row {
            border: 1px solid #ddd;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }

        
        .custom-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            background-color: #6c757d;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .custom-button:hover {
                background-color: #5a6268;
                transform: scale(1.05);
        }
  

    </style>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            try {
                const response = await fetch('/Quiz/GetUserStatistics');
                if (response.ok) {
                    const data = await response.json();

                    document.getElementById("userStatistics").textContent =
                        `Łączny wynik: ${data.totalScore}, Rozwiązane quizy: ${data.totalQuizzes}, Średnia: ${data.averageScore.toFixed(2)}`;
                } else {
                    console.error('Błąd podczas pobierania statystyk:', response.statusText);
                    document.getElementById("userStatistics").textContent =
                        'Nie udało się załadować statystyk.';
                }
            } catch (error) {
                console.error('Wystąpił błąd:', error);
                document.getElementById("userStatistics").textContent =
                    'Wystąpił błąd podczas ładowania statystyk.';
            }
        });
    </script>
    <div id="userStatistics" class="alert alert-info mt-3">Ładuję statystyki...</div>

    @* <a href="/Quiz/GenerateCertificate?quizId=1" class="custom-button">
        Pobierz certyfikat
    </a> *@
    <script>
           document.addEventListener("DOMContentLoaded", async function () {
            try {
                // Wywołanie metody w kontrolerze
                const response = await fetch('/Quiz/CheckIfAllQuizzesCompleted');
                if (!response.ok) {
                    throw new Error('Błąd odpowiedzi serwera');
                }

                const result = await response.json();

                // Jeśli użytkownik ukończył wszystkie quizy, pokaż przycisk
                if (result.allCompleted) {
                    document.getElementById("certificateButton").style.display = "inline-block";
                }
            } catch (error) {
                console.error('Błąd podczas sprawdzania quizów:', error);
            }
        });

    </script>

    <a href="/Quiz/GenerateCertificate" id="certificateButton" class="custom-button" style="display: none;">
        Pobierz certyfikat
    </a>



    <div class="container mt-5">
        <h1>Lista Kursów</h1>
       
        <div class="table-responsive">
            <table class="table">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Photo</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                }
                <tbody>
                    @foreach (var kurs in Model)
                    {
                        <tr class="course-row" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Details", "Kurs", new { id = kurs.KursId })'">
                            <td>@kurs.Nazwa</td>
                           @*  <td>@kurs.Opis</td> *@
                            <td>@(kurs.Opis.Length > 50 ? kurs.Opis.Substring(0, 50) + "..." : kurs.Opis)</td>

                            <td>
                                @if (!string.IsNullOrEmpty(kurs.Photo))
                                {
                                    <img src="~/photos/@kurs.Photo" alt="Kurs Photo" style="max-width: 100px; max-height: 100px; border-radius: 5px;" />
                                }
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <td>
                                    <a asp-action="Details" asp-route-id="@kurs.KursId" class="btn btn-link p-0" style="border: none; background: none;">
                                        <img src="~/Photos/detalis.png" alt="Szczegóły" style="width: 24px; height: 24px;" />
                                    </a>
                                    <a asp-action="EditKurs" asp-route-id="@kurs.KursId" class="btn btn-link p-0" style="border: none; background: none;">
                                        <img src="~/Photos/edit.png" alt="Edytuj" style="width: 24px; height: 24px;" />
                                    </a>
                                    <form asp-action="DeleteKurs" method="post" style="display: inline-block;">
                                        <input type="hidden" name="id" value="@kurs.KursId" />
                                        <button type="submit" class="btn btn-link p-0" style="border: none; background: none;">
                                            <img src="~/photos/delete.png" alt="Usuń" style="width: 24px; height: 24px;" />
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
